/**
 * CSS for your admin-facing functionality should be
 * included in this file.
 */
.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.w-20-\% {
	width: 20%;
}

.w-80-\% {
	width: 80%;
}

.w-200-px {
	width: 200px;
}

.mb-1-rem {
	margin-bottom: 1rem;
}

#titlediv {
	display: none;
}
